---

//###  Source  ###//
// https://loading.io/css/

//###  Style  ###//
import "./Style.scss"


---
<!--#################################################################################################################-->
<!--##>  HTML                                                                                                      ##-->
<!--#################################################################################################################-->

	<div
		id    = "Spinner"
		class = "lds-spinner"
	>
		<div/>
		<div/>
		<div/>
		<div/>
		<div/>
		<div/>
		<div/>
		<div/>
		<div/>
		<div/>
		<div/>
		<div/>
	</div>
