---

//###  App.URLs  ###//
import URL_Client from "./_Index/Client/index.js?url"

//###  Layout  ###//
import Layout from "Layouts/Main/index.astro"

//###  Assets.URLs  ###//
import URL_Logo from "./_Index/Assets/SpotifyLogo_CMYK.png?url"

//###  Components  ###//
import Spinner from "./_Index/Components/Spinner/index.astro"

//###  Styles  ###//
import "./_Index/Style.scss"


---
<!--#################################################################################################################-->
<!--##>  HTML                                                                                                      ##-->
<!--#################################################################################################################-->

	<Layout>


    <!----------------------------------------------------------------------------------------------------------------->
    <!--  Layout                                                                                                     -->
    <!----------------------------------------------------------------------------------------------------------------->

			<div id="Logo">
				<img
					src    = {URL_Logo}
					height = 90
				/>
			</div>

			<div class="DIVIDER"/>

			<div id="Info">
				{"Loading followed artists."}
			</div>

			<Spinner/>

			<button
				id    = "Download"
				class = "Hidden"
			>
				{"Download"}
			</button>

			<button
				id    = "Retry"
				class = "Hidden"
			>
				{"Retry"}
			</button>

			<div class="DIVIDER"/>

			<div id="LogoBalancer">
				<img height=90/>
			</div>


    <!----------------------------------------------------------------------------------------------------------------->
    <!--  Script                                                                                                     -->
    <!----------------------------------------------------------------------------------------------------------------->

			<script type="module" define:vars={{URL_Client}}>
				const {Main} = await import(URL_Client)
				await Main()
			</script>


	</Layout>
