---

//###  App  ###//
import {Client} from "./_Index/Client/index.tsx"

//###  Layout  ###//
import Layout from "Layouts/Main/index.astro"

//###  Assets.URLs  ###//
import URL_Logo      from "./_Index/Assets/SpotifyLogo_CMYK.png?url"
import URL_Thumbnail from "./_Index/Assets/Thumbnail.png?url"

//###  Components  ###//
import Spinner from "./_Index/Components/Spinner/index.astro"

//###  Styles  ###//
import "./_Index/Style.scss"


---
<!--#################################################################################################################-->
<!--##>  HTML.Head                                                                                                 ##-->
<!--#################################################################################################################-->

<head>

	<!-- Open Graph / Facebook -->
	<meta property="og:type"             content="website"                   />
	<meta property="og:url"              content="https://metatags.io/"      />
	<meta property="og:title"            content="Spotify - Followed Artists"/>
	<meta property="og:description"      content=""                          />
	<meta property="og:image"            content={URL_Thumbnail}             />

	<!-- Twitter -->
	<meta property="twitter:card"        content="summary_large_image"       />
	<meta property="twitter:url"         content="https://metatags.io/"      />
	<meta property="twitter:title"       content="Spotify - Followed Artists"/>
	<meta property="twitter:description" content=""                          />
	<meta property="twitter:image"       content={URL_Thumbnail}             />

</head>


<!--#################################################################################################################-->
<!--##>  HTML.Body                                                                                                 ##-->
<!--#################################################################################################################-->

	<Layout title="Spotify - Followed Artists">


		<!----------------------------------------------------------------------------------------------------------------->
		<!--  Layout                                                                                                     -->
		<!----------------------------------------------------------------------------------------------------------------->

			<div id="Logo">
				<img
					src    = {URL_Logo}
					height = 90
				/>
			</div>

			<div class="DIVIDER"/>

			<div id="Info">
				{"Loading followed artists."}
			</div>

			<Spinner/>

			<button
				id    = "Download"
				class = "ElevatedSurface Hidden"
			>
				{"Download"}
			</button>

			<button
				id    = "Retry"
				class = "ElevatedSurface Hidden"
			>
				{"Retry"}
			</button>

			<div class="DIVIDER"/>

			<div id="LogoBalancer">
				<img height=90/>
			</div>


		<!----------------------------------------------------------------------------------------------------------------->
		<!--  Script                                                                                                     -->
		<!----------------------------------------------------------------------------------------------------------------->

			<Client client:only/>


	</Layout>
